<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'current.css' %}">
<script src="{% static 'current.js' %}"></script>
<div class="container show-grid">
    <div class = "row">
        <br>
         <div class="col-md-4">
            현재 user{{ user_id }}의 총 claim: {{ number_of_claim }}(claim 비율: {{ rate_claim }}%), variation: {{ number_of_variation }}<br>
             참 비율: {{rate_true}}%, 거짓 비율: {{ rate_false}}%, NEI 비율: {{ rate_nei }}%

         </div>
        <div class="col-md-4">
            <div style="display: inline-block">
                <form action="{% url 'survey:claim_current' 0 %}" method="post">
                    {% csrf_token %}
                    <button type="submit"> 내 작업</button>
                </form>
            </div>
            <div style="display: inline-block">
                <form action="{% url 'survey:claim_current' 3 %}" method="post">
                    {% csrf_token %}
                    <button type="submit">전체 작업</button>
                </form>
            </div>
            <div style="display: inline-block">
                {% if state < 3 %}
                <form action="{% url 'survey:claim_current' 1%}" method="post">
                    {% csrf_token %}
                    <button type="submit">Variation only</button>
                </form>
                {% else %}
                <form action="{% url 'survey:claim_current' 4%}" method="post">
                    {% csrf_token %}
                    <button type="submit">Variation only</button>
                </form>
                {% endif %}
            </div>
            <div style="display: inline-block">
                {% if state < 3 %}
                <form action="{% url 'survey:claim_current' 2%}" method="post">
                    {% csrf_token %}
                    <button type="submit">Claim only</button>
                </form>
                {% else %}
                <form action="{% url 'survey:claim_current' 5%}" method="post">
                    {% csrf_token %}
                    <button type="submit">Claim only</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

 <br>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
          <th> user id </th>
        <th>id</th>
        <th>Claim</th>
        <th>참 거짓</th>
        <th>날짜</th>
          <th>variation</th>
        <th><center>자세히</center></th>
      </tr>
    </thead>
    <tbody>
    {% for claim in claim_list %}
      <tr>
          <td> user{{ claim.user_id }}</td>
        <td> {{ claim.id }}</td>
        <td> {{ claim.claim }}</td>
        <td>  {% if claim.T_F == 'True' %}
              참
              {% elif claim.T_F == 'False' %}
              거짓
              {% else %}
              판단불가
              {% endif %} </td>
        <td> {{ claim.pub_date }} </td>
          <td>  {% if claim.is_variation == True %}
                예
              {% else %}

              {% endif %} </td>
        <td> <form action="{% url 'survey:claim_detail' claim.id %}" method="post">
        {% csrf_token %}
          <center>
        <button type="submit" class="btn btn-primary">선택</button>
  </form> </center></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">

  </ul><br>

  <form action="{% url 'survey:making_claim' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">Claim 추가하기</button>
  </form><br>

  <form action="{% url 'survey:making_variation' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">Variation 추가하기</button>
  </form><br>

</div>


</body>
</html>