<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'current.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br>
<br>
{% if data != None %}
<div class="well" style="width:600px;">
                시작 표제어: {{ data.title }} <br>
                LINK: {{ data.url }}

</div>
{% endif %}
{% if original_claim != None %}
<div class = "row">
                <div class="col-md-4">
                    <div class = "card my-5">
                        id: {{ original_claim.id }}<br>
                        Claim: {{ original_claim.claim }}<br>
                        판단:
                        {% if original_claim.T_F == "True" %}참
                        {% elif original_claim.T_F == "False" %}거짓
                        {% else %}판단불가
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                {% if original_claim.title1 != "" %}
                    {{ title1 }}: {{ e1 }}<br>
                {% endif %}
                {% if original_claim.title2 != "" %}
                    {{ title2 }}: {{ e2 }}<br>
                {% endif %}
                {% if original_claim.title3 != "" %}
                    {{ title3 }}: {{ e3 }}<br>
                {% endif %}
                {% if original_claim.title4 != "" %}
                    {{ title4 }}: {{ e4 }}<br>
                {% endif %}
                {% if original_claim.title5 != "" %}
                    {{ title5 }}: {{ e5 }}<br>
                {% endif %}
            </div>
{% endif %}
<br>

<form action="{% url 'survey:claim_update_result' claim.id%}" method="post">
                {% csrf_token %}
<div class="table-responsive">
  Claim id: {{ claim.id }}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>분류</th>
        <th>내용</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td> claim</td>
        <td> <input type="text" id="claim" name="claim" style="width:1000px;" value="{{ claim.claim }}">  </td>
      </tr>
      <tr style="border:10px">
        <td> 참거짓</td>
        <td>
          <select class="form-control" name="T_F">
                                    {% if claim.T_F == 'True' %}
                                      <option value="True" selected>참</option>
                                      <option value="False">거짓</option>
                                      <option value="None">판단불가</option>
                                    {% elif claim.T_F == 'False' %}
                                      <option value="False" selected>거짓</option>
                                      <option value="True">참</option>
                                      <option value="None">판단불가</option>
                                    {% else %}
                                      <option value="None" selected>판단불가</option>
                                      <option value="True">참</option>
                                      <option value="False">거짓</option>
                                    {% endif %}
          </select>
        </td>
      </tr>
      <tr class="success">
        <td> 문서 제목1</td>
        <td> <input type="text" id="title1" name="title1" style="width:1000px;" value="{{ claim.title1 }}"> </td>
      </tr>
      <tr class="success">
        <td> 근거 문장1</td>
        <td> <input type="text" id="evidence1" name="evidence1" style="width:1000px;" value="{{ claim.evidence1 }}"> </td>
      </tr>
      <tr class="warning">
        <td> 문서 제목2</td>
        <td> <input type="text" id="title2" name="title2" style="width:1000px;" value="{{ claim.title2 }}"> </td>
      </tr>
      <tr class="warning">
        <td> 근거 문장2</td>
        <td> <input type="text" id="evidence2" name="evidence2" style="width:1000px;" value="{{ claim.evidence2 }}"> </td>
      </tr>
      <tr class="success">
        <td> 문서 제목3</td>
        <td> <input type="text" id="title3" name="title3" style="width:1000px;" value="{{ claim.title3 }}"> </td>
      </tr>
      <tr class="success">
        <td> 근거 문장3</td>
        <td> <input type="text" id="evidence3" name="evidence3" style="width:1000px;" value="{{ claim.evidence3 }}"> </td>
      </tr>
      <tr class="warning">
        <td> 문서 제목4</td>
        <td> <input type="text" id="title4" name="title4" style="width:1000px;" value="{{ claim.title4 }}"> </td>
      </tr>
      <tr class="warning">
        <td> 근거 문장4</td>
        <td> <input type="text" id="evidence4" name="evidence4" style="width:1000px;" value="{{ claim.evidence4 }}"> </td>
      </tr>
      <tr class="success">
        <td> 문서 제목5</td>
        <td> <input type="text" id="title5" name="title5" style="width:1000px;" value="{{ claim.title5 }}"> </td>
      </tr>
      <tr class="success">
        <td> 근거 문장5</td>
        <td> <input type="text" id="evidence5" name="evidence5" style="width:1000px;" value="{{ claim.evidence5 }}"> </td>
      </tr>
      <tr>
        <td> 최종수정</td>
        <td> {{ claim.pub_date }} </td>
      </tr>
    </tbody>
  </table>


  <button type="submit" class="btn btn-lg btn-primary">수정완료</button>
</form><br>


</div>

</body>
</html>