<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'current.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br>
<br><br>

<div class="table-responsive">
  주장 id: {{ claim.id }}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>분류</th>
        <th>내용</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 주장</td>
        <td> {{ claim.claim }} </td>
      </tr>
      <tr>
        <td> 참 거짓</td>
        <td> {% if claim.T_F == 'True' %}
              참
              {% elif claim.T_F == 'False' %}
              거짓
              {% else %}
              판단불가
              {% endif %}
        </td>
      </tr>
      <tr class="success">
        <td> 표제어1</td>
        <td> {{ claim.title1 }} </td>
      </tr>
      <tr class="success">
        <td> 근거1</td>
        <td> {{ claim.evidence1 }} </td>
      </tr>
      <tr class="warning">
        <td> 표제어2</td>
        <td> {{ claim.title2 }} </td>
      </tr>
      <tr class="warning">
        <td> 근거2</td>
        <td> {{ claim.evidence2 }} </td>
      </tr>
      <tr class="success">
        <td> 표제어3</td>
        <td> {{ claim.title3 }} </td>
      </tr>
      <tr class="success">
        <td> 근거3</td>
        <td> {{ claim.evidence3 }} </td>
      </tr>
      <tr class="warning">
        <td> 표제어4</td>
        <td> {{ claim.title4 }} </td>
      </tr>
      <tr class="warning">
        <td> 근거4</td>
        <td> {{ claim.evidence4 }} </td>
      </tr>
      <tr class="success">
        <td> 표제어5</td>
        <td> {{ claim.title5 }} </td>
      </tr>
      <tr class="success">
        <td> 근거5</td>
        <td> {{ claim.evidence5 }} </td>
      </tr>
      <tr>
        <td> 최종수정</td>
        <td> {{ claim.pub_date }} </td>
      </tr>
    <tr>
        <td> variation</td>
        <td> {% if claim.is_variation == True %}
              예
              {% else %}

              {% endif %}
        </td>
      </tr>
    <tr>
        <td> original claim id</td>
        <td> {% if claim.original_claim_id != 0 %}
              {{ claim.original_claim_id }}
              {% else %}

              {% endif %}
        </td>
      </tr>
    </tbody>
  </table>


<right>
{% if user_id == claim.user_id %}
  <form action="{% url 'survey:claim_update' claim.id%}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">수정하기</button>
  </form><br>

  &nbsp;

  <form action="{% url 'survey:claim_delete' claim.id%}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">삭제하기</button>
  </form><br>
{% endif %}
  &nbsp;

  <form action="{% url 'survey:claim_current' 0 %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary">목록으로</button>
  </form><br>
</right>

</div>


</body>
</html>