<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<div class="container my-3">
    <div class="card my-3">
        프로토타입
    </div>
    참가자 번호 <input type="text" name= 'number' value = {{user_id}} readonly required autofocus>
    <form action="{% url 'survey:claim_current' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">Claim 만들기</button>
    </form><br>
    <form action="{% url 'survey:making_variation' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-primary btn-block" disabled="disabled">Variation 만들기</button>
    </form>
</div>
</body>