<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
<div class="container show-grid">
    <div class = "row">
        <div class="col-md-8">
            <div class = "row">
                <div class="col-md-6">
                    현재 사용자 user{{ user_id }} <br>
                </div>
            </div>
            <form action="{% url 'survey:claim_results' %}" method="post">
                {% csrf_token %}
                    <div class="container show-grid">
                        <div class = "row">
                            <div class="col-md-4">
                                주장 <input type="text" id="claim" name="claim" style="width:1000px;"><br><br>
                                참거짓<select class="form-control" name="T_F" required>
                                    <option value="" disabled="disabled" selected="selected">선택해주세요.</option>
                                    <option value="True">참</option>
                                    <option value="False">거짓</option>
                                    <option value="None">판단불가</option>
                                </select><br><br>
                                <div class="well" style="width:1100px;">
                                    표제어1
                                    <input type="text" id="title1" name="title1" style="width:1000px;"><br><br>
                                    근거1&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence1" name="evidence1" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어2
                                    <input type="text" id="title2" name="title2" style="width:1000px;"><br><br>
                                    근거2&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence2" name="evidence2" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어3
                                    <input type="text" id="title3" name="title3" style="width:1000px;"><br><br>
                                    근거3&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence3" name="evidence3" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어4
                                    <input type="text" id="title4" name="title4" style="width:1000px;"><br><br>
                                    근거4&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence4" name="evidence4" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어5
                                    <input type="text" id="title5" name="title5" style="width:1000px;"><br><br>
                                    근거5&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence5" name="evidence5" style="width:1000px;"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                <input type="submit" value="제출" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>