<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
<div class="container show-grid">
    <div class = "row">
        <div class="col-md-8">
            <div class="well" style="width:1200px;">
                시작 문서 제목: {{ data.title }} <br>
                LINK: {{ data.url }}
            </div>
            <br>
            <div class = "row">
                <div class="col-md-6">
                    현재 사용자 user{{ user_id }} <br>
                </div>
            </div>
            <form action="{% url 'survey:claim_results' data.reference_id %}" method="post">
                {% csrf_token %}
                    <div class="container show-grid">
                        <div class = "row">
                            <div class="col-md-4">
                                Claim <input type="text" id="claim" name="claim" style="width:1000px;"><br><br>
                                참거짓<select class="form-control" name="T_F" required>
                                    <option value="" disabled="disabled" selected="selected">선택해주세요.</option>
                                    <option value="True">참</option>
                                    <option value="False">거짓</option>
                                    <option value="None">판단불가</option>
                                </select><br>
                                <div>
                                      <input type="radio" id="not_two" name="more_than_two" value="False" required>
                                      <label for="not_two">하나의 문장으로 claim 만들기</label><br>
                                      <input type="radio" id="more_two" name="more_than_two" value="True">
                                      <label for="more_two">두 개 이상의 문장으로 claim 만들기</label>
                                    </div><br><br>
                                <div class="well" style="width:1100px;">
                                    문서 제목1
                                    <input type="text" id="title1" name="title1" style="width:1000px;"><br><br>
                                    근거 문장1&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence1" name="evidence1" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    문서 제목2
                                    <input type="text" id="title2" name="title2" style="width:1000px;"><br><br>
                                    근거 문장2&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence2" name="evidence2" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    문서 제목3
                                    <input type="text" id="title3" name="title3" style="width:1000px;"><br><br>
                                    근거 문장3&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence3" name="evidence3" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    문서 제목4
                                    <input type="text" id="title4" name="title4" style="width:1000px;"><br><br>
                                    근거 문장4&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence4" name="evidence4" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    문서 제목5
                                    <input type="text" id="title5" name="title5" style="width:1000px;"><br><br>
                                    근거 문장5&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence5" name="evidence5" style="width:1000px;"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                <input type="submit" value="제출" class="btn btn-primary">
            </form>
            <br>
            <form action="{% url 'survey:making_claim' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="다른 article로 claim 생성" class="btn btn-primary">
            </form>
            <form action="{% url 'survey:claim_current' 0 %}" method="post">
                {% csrf_token %}
                <input type="submit" value="목록으로" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>