<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
<div class="container show-grid">
    <div class = "row">
        <div class="col-md-8">
             <div class="well" style="width:1200px;">
                 {% if task == 0 %}
                    <b>Task 유형 1.</b> 문장 구조 바꾸기: 의미가 같지만 다른 구조의 문장으로 변형하기<br>
                    원본 문장과 변형된 문장이 서로 동일한 의미를 지녀야 한다. 표제어는 그대로 사용한다.<br>
                    예시)<br>
                    대한민국에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                        =>	한국담배인삼공사는 우리 나라에서 재배한 모든 담배를 사들인다.<br>
                 {% elif task == 1 %}
                    	<b>Task 유형 2.</b> 부정문으로 만들기: 해당 클레임과 반대 의미의 문장 만들기<br>
                        단순히 ‘~하지 않는다’로 변형하는 것이 아니라, 해당 문장이 참일 때 거짓일 문장을 만드는 것을 권장한다. 단어 자체를 바꾸거나, 수량을 바꾸는 것을 통해 부정문으로 만들 수 있다. 표제어는 그대로 사용한다.
                        <br>예시)<br>
                        대한민국에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                            =>	(수량 변경)대한민국에서 재배한 담배의 약 80%만 한국담배인삼공사가 구매한다.<br>
                            =>	(단어 변경)대한민국에서 재배한 담배는 모두 한국담배인삼공사가 재배한다.<br>
                 {% elif task == 2 %}
                        <b>Task 유형 3.</b> 문장의 일부를 다른 것으로 대체하기<br>
                        클레임의 표제어는 유지한 채 동사나 목적어를 변형한다. 같은 종류의 단어(나라 이름, 식물 종류 등)와 다른 종류의 단어를 모두 대체어로 사용할 수 있다. 만들어진 문장과 원본 문장은 관련성이 없어야 한다.
                        <br>예시)<br>
                        대한민국에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                            =>	(목적어 변형: 같은 종류의 단어, 작물)대한민국에서 재배한 인삼은 모두 한국담배인삼공사가 구매한다.<br>
                            =>	(동사 변형)대한민국에서 재배한 담배는 모두 한국담배인삼공사가 판매한다.<br>
                            =>	(다른 종류의 단어)대한민국의 담배 생산 공장은 모두 한국담배인삼공사 소유이다.<br>
                 {% elif task == 3 %}
                    <b>Task 유형 4.</b> 기존의 문장보다 더 구체적인 수준의 문장 만들기<br>
                    기존 문장의 단어가 새로 만들어진 문장의 단어를 포함해야 한다. 따라서 한 문장이 다른 문장의 의미를 내포해야 한다. 문장의 구조는 바꾸지 않으며 표제어는 그대로 사용한다.
                    <br>예시)<br>
                    대한민국에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                        =>	(충청도 ∈ 대한민국)충청도에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                 {% else %}
                    <b>Task 유형 5.</b> 기존의 문장보다 더 일반적인 수준의 문장 만들기<br>
                    새로 만들어진 문장의 단어가 기존 문장의 단어를 포함해야 한다. 따라서 한 문장이 다른 문장의 의미를 내포해야 한다. 문장의 구조는 바꾸지 않으며 표제어는 그대로 사용한다.
                    <br>예시)<br>
                    대한민국에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                        =>	(대한민국 ∈ 아시아)아시아에서 재배한 담배는 모두 한국담배인삼공사가 구매한다.<br>
                        =>	(담배 ∈ 작물)대한민국에서 재배한 작물은 모두 한국담배인삼공사가 구매한다.<br>
                 {% endif %}
            </div>
            <div class = "row">
                <div class="col-md-6">
                    현재 사용자 user{{ user_id }} <br>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-4">
                    <div class = "card my-5">
                        id: {{ claim_id }}<br>
                        주장: {{ claim }}<br>
                        판단:
                        {% if T_F == "True" %}참
                        {% elif T_F == "False" %}거짓
                        {% else %}판단불가
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                {% if title1 != "" %}
                    {{ title1 }}: {{ e1 }}<br>
                {% endif %}
                {% if title2 != "" %}
                    {{ title2 }}: {{ e2 }}<br>
                {% endif %}
                {% if title3 != "" %}
                    {{ title3 }}: {{ e3 }}<br>
                {% endif %}
                {% if title4 != "" %}
                    {{ title4 }}: {{ e4 }}<br>
                {% endif %}
                {% if title5 != "" %}
                    {{ title5 }}: {{ e5 }}<br>
                {% endif %}
            </div>
            <form action="{% url 'survey:variation_results' claim_id %}" method="post">
                {% csrf_token %}
                    <div class="container show-grid">
                        <div class = "row">
                            <div class="col-md-4">
                                주장 <input type="text" id="claim" name="claim" style="width:1000px;"><br><br>
                                참거짓<select class="form-control" name="T_F" required>
                                    <option value="" disabled="disabled" selected="selected">선택해주세요.</option>
                                    <option value="True">참</option>
                                    <option value="False">거짓</option>
                                    <option value="None">판단불가</option>
                                </select><br><br>
                                <div class="well" style="width:1100px;">
                                    표제어1
                                    <input type="text" id="title1" name="title1" style="width:1000px;"><br><br>
                                    근거1&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence1" name="evidence1" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어2
                                    <input type="text" id="title2" name="title2" style="width:1000px;"><br><br>
                                    근거2&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence2" name="evidence2" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어3
                                    <input type="text" id="title3" name="title3" style="width:1000px;"><br><br>
                                    근거3&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence3" name="evidence3" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어4
                                    <input type="text" id="title4" name="title4" style="width:1000px;"><br><br>
                                    근거4&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence4" name="evidence4" style="width:1000px;"><br>
                                </div>
                                <div class="well" style="width:1100px;">
                                    표제어5
                                    <input type="text" id="title5" name="title5" style="width:1000px;"><br><br>
                                    근거5&nbsp;&nbsp;&nbsp;
                                    <input type="text" id="evidence5" name="evidence5" style="width:1000px;"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                <input type="submit" value="저장" class="btn btn-primary">
            </form>
            <form action="{% url 'survey:making_variation' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="다른 주장 보기" class="btn btn-primary">
            </form>
            <form action="{% url 'survey:claim_current' 0 %}" method="post">
                {% csrf_token %}
                <input type="submit" value="목록으로" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>